<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Enter List ID </h1>
    <form action="/getList"  method="POST">
        <input type="text" placeholder="LIST ID" name="listID">
        <input type="submit">
    </form>
    <h2 id="listID"><%= listID %></h2>

    <h2>Create new List</h2>
    <form action="/newList" method="POST">
        <input type="submit" placeholder="New List">
    </form>

    <h2>Add Item</h2>

        <div>
        <input id="author" type="text" placeholder="Author" name="author">
        <input id="itemName" type="text" placeholder="Item" name="itemName">
        <button type="button" onclick="addItem()" id="addItem">Add</button>
        </div> 
    <h1>List:</h1>
    <ul class="list">
        <% for(let i=0; i<items.length; i++){%>
        <li class="item">
            <span class="num-name"><%=i+1%>. <%= items[i].itemName %></span>
            <span class="pre-author"> - </span>
            <span ><%= items[i].author %></span>
        </li>
       <% }%>
    </ul>

    <script src='js/main.js'></script>
</body>
</html>
